:root {
    /*--bs-blue: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #dc3545;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc107;
    --bs-green: #198754;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-white: #fff;
    --bs-gray: #6c757d;
    --bs-gray-dark: #343a40;
    --bs-gray-100: #f8f9fa;
    --bs-gray-200: #e9ecef;
    --bs-gray-300: #dee2e6;
    --bs-gray-400: #ced4da;
    --bs-gray-500: #adb5bd;
    --bs-gray-600: #6c757d;
    --bs-gray-700: #495057;
    --bs-gray-800: #343a40;
    --bs-gray-900: #212529;*/
    --bs-primary: #062639;
    --bs-secondary: #adefd1;
    /*--bs-success: #198754;
    --bs-info: #0dcaf0;
    --bs-warning: #ffc107;
    --bs-danger: #dc3545;*/
    --bs-light: #adefd1;
    --bs-dark: #062639;
    --bs-primary-rgb: 6, 38, 57;
    --bs-secondary-rgb: 173, 239, 209;
    /*--bs-success-rgb: 25,135,84;
    --bs-info-rgb: 13,202,240;
    --bs-warning-rgb: 255,193,7;
    --bs-danger-rgb: 220,53,69;*/
    --bs-light-rgb: 173, 239, 209;
    --bs-dark-rgb: 6, 38, 57;
    /*--bs-white-rgb: 255,255,255;
    --bs-black-rgb: 0,0,0;
    --bs-body-color-rgb: 33,37,41;
    --bs-body-bg-rgb: 255,255,255;
    --bs-font-sans-serif: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    --bs-font-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
    --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
    --bs-body-font-family: var(--bs-font-sans-serif);
    --bs-body-font-size: 1rem;
    --bs-body-font-weight: 400;
    --bs-body-line-height: 1.5;
    --bs-body-color: #212529;
    --bs-body-bg: #fff;*/
}

.btn-primary {
    background-color: var(--bs-primary);
    border-color: var(--bs-primary);

    --bs-btn-color: #fff;
    --bs-btn-border-color: var(--bs-primary);
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: var(--bs-primary);
    --bs-btn-hover-border-color: #fff;
    --bs-btn-focus-shadow-rgb: 13,110,253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: var(--bs-primary);
    --bs-btn-active-border-color: var(--bs-primary);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: var(--bs-primary);
    --bs-btn-disabled-bg: transparent;
    --bs-gradient: none;
}

.btn-primary:hover {
    box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.2);
}

.btn-secondary {
    background-color: var(--bs-secondary);
    border-color: var(--bs-secondary);
    color: var(--bs-primary);

    --bs-btn-color: #fff;
    --bs-btn-bg: var(--bs-secondary);
    --bs-btn-border-color: var(--bs-secondary);
    --bs-btn-hover-color: var(--bs-primary);
    --bs-btn-hover-bg: var(--bs-secondary);
    --bs-btn-hover-border-color: var(--bs-secondary);
    --bs-btn-focus-shadow-rgb: 130,138,145;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: var(--bs-secondary);
    --bs-btn-active-border-color: var(--bs-secondary);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: var(--bs-secondary);
    --bs-btn-disabled-border-color: var(--bs-secondary);
}

.btn-secondary:hover {
    box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.2);
}

.btn-outline-primary {
    color: var(--bs-primary);
    border-color: var(--bs-primary);

    --bs-btn-color: #fff;
    --bs-btn-border-color: var(--bs-primary);
    --bs-btn-hover-color: var(--bs-primary);
    --bs-btn-hover-bg: var(--bs-light);
    --bs-btn-hover-border-color: #fff;
    --bs-btn-focus-shadow-rgb: 13,110,253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: var(--bs-primary);
    --bs-btn-active-border-color: var(--bs-primary);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: var(--bs-primary);
    --bs-btn-disabled-bg: transparent;
    --bs-gradient: none;
}

.btn-outline-primary:hover {
    box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.2);
}

:focus {
    box-shadow: none !important;
}

:active:focus {
    box-shadow: none !important;
}

.border-light {
    border-color: var(--bs-light) !important;
}

.active {
    font-weight: 900;
    border-color: var(--bs-light);
    border: 1px solid !important;
}

.nav-link {
    cursor: pointer;
    border-radius: 0.25rem;
    border: none;
    text-align: left;
}

.nav-link:hover {
    border-color: var(--bs-white) !important;
    box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.2) !important;
}

.w-20rem {
    width: 20rem;
}

.h-294px {
    height: 294px;
}

.px-04rem {
    padding-left: 0.4rem;
    padding-right: 0.4rem;
}

.card.w-20rem:hover {
    box-shadow: 0px 10px 20px 5px rgba(0, 0, 0, 0.5);
    transform: translateY(-5px);
}

.dropdown-item:active {
    background-color: var(--bs-primary);
}

.start-40px {
    left: 40px;
}

.dropdown-menu[data-bs-popper] {
    left: auto;
    right: 0px;
}

.text-danger {
    color: var(bs-danger);
}

.dnone {
    display: none;
}

.h-1d5rem {
    height: 1.5rem;
}

.w-280px {
    width: 280px;
}

.w-500px {
    width: 500px;
}

.w-100px {
    width: 100px;
}

.w-300px {
    width: 300px;
}

.h-fit {
    height: fit-content;
}

.h-438 {
    height: 438px;
}

.mh-500px {
    max-height: 500px;    
}

.mt-3px {
    margin-top: 3px;
}

.mb-3px {
    margin-bottom: 3px;
}

.ms-10px {
    margin-left: 10px;
}

.scroll-y {
    overflow-y: scroll;
}

.text-black-25 {
    --bs-text-opacity: 1;
    color: rgba(0,0,0,.25)!important;
}

.inside-border-info-4 {
    box-shadow:inset 0px 0px 0px 4px var(--bs-info) !important;
}

.bbd {
    border-bottom-style: dotted;
}

.btd {
    border-top-style: dotted;
}

.btdn {
    border-top: 1px double rgba(0, 0, 0, 0) !important;
}

.magic-link {
    position:absolute; 
    width:100%;
    height:100%;
    top:0;
    left: 0;
    z-index: 1;
}